---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app flightradar24
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      flightradar24:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/sdr-enthusiasts/docker-flightradar24
              tag: latest-build-765
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: [ALL]}
            env:
              BEASTHOST: ultrafeeder.default.svc.cluster.local
            envFrom:
              - secretRef:
                  name: flightradar24-secret
    service:
      app:
        controller: *app
        ports:
          http:
            enabled: true
            port: 8754
    ingress:
      app:
        enabled: true
        className: internal
        annotations:
          external-dns.alpha.kubernetes.io/target: internal.${SECRET_DOMAIN}
        hosts:
          - host: "fr24.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http