---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: octopus-minmax
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    controllers:
      octopus-minmax:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: eelmafia/octopus-minmax-bot
              tag: v1.0.8@sha256:4d5a6206d4d5aaab00ba55dd8d519619dfdaecd4be3cf737799d9e709d91374a
            env:
              TZ: Europe/London
              EXECUTION_TIME: 23:00
              TARIFFS: "agile,flexible,cosy,go"
              ONE_OFF: true
            envFrom: &envFrom
              - secretRef:
                  name: octopus-minmax-secret
            resources:
              requests:
                cpu: 18m
                memory: 128Mi
              limits:
                memory: 512Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
